* {
  font-family : sans-serif;
}

a {
  text-decoration: none;
  font-weight : 600;
}

.album {
  position: relative;
  border : black 1px solid;
  padding: .5em;
  cursor: pointer;
}

.album:hover {
  background-color: #DDDDDD;
}

.album:active {
  background-color: #AAAAAA;
}

.album-detailed {

}
