<div id = "main">
  <div>
    <p id="back-arrow" [routerLink]="['/']">&larr;</p>
    <h1>{{title}}</h1>
    <h2>Here's the list of all our {{title.toLowerCase()}}
      Product Details</h2>
    <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
      accusantium doloremque laudantium, totam rem aperiam eaque ipsa,
      quae ab illo inventore veritatis et quasi architecto beatae vitae
      dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas
      sit, aspernatur aut odit aut fugit, sed quia consequuntur magni
      dolores eos, qui ratione voluptatem sequi nesciunt, neque porro
      quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur
      adipisci[ng] velit</p>
  </div>
  <div *ngFor="let product of products; let i = index;">
    <div [ngStyle]="{'display' : !product.isRemoved ? 'inline-block' : 'none'}" >
    <h3 id="title">
      <a [title]="product.name + ' details'" [routerLink]="['/products/', this.cat, product.id]">
        {{product.name}}
      </a>
      <p (click)="remove(product.id)" id="x-button">X</p>
    </h3>
    <div class="previewImg">
      <img [src]="'../assets/images/'+product.image[product.curimg]">
    </div>
    <span id="controls"><p (click)="slide(0,product.id)">&lt;</p><p (click)="slide(1,product.id)">&gt;</p></span>
    <p *ngIf="product.price">
      Price: {{product.price}}&#8376;
    </p>
    <p *ngIf="product.rating">
      Rating: {{product.rating}}/5
    </p>
    <p *ngIf="product.description">
      Description: {{ product.description }}
    </p>
    <button type="button" (click)="share()">
      Share via Telegram
    </button>
    <app-product-alerts
      [product]="product"
      (notify)="onNotify()">
    </app-product-alerts>
  </div>
  </div>
</div>
