<div id = "main">
  <div>
    <h1>Catalogue</h1>
    <h2>Here you can find different electronic components</h2>
    <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
      accusantium doloremque laudantium, totam rem aperiam eaque ipsa,
      quae ab illo inventore veritatis et quasi architecto beatae vitae
      dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas
      sit, aspernatur aut odit aut fugit, sed quia consequuntur magni
      dolores eos, qui ratione voluptatem sequi nesciunt, neque porro
      quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur
      adipisci[ng] velit</p>
  </div>
  <div *ngFor="let cat of categories; let i = index;">
    <h3>
      <a [title]="cat.name + ' details'" [routerLink]="['/products', cat.id]">
        {{cat.name}}
      </a>
    </h3>
    <div class="previewImg">
      <img [src]="'../assets/images/'+cat.image">
    </div>
    <p *ngIf="cat.description">
      Description: {{ cat.description }}
    </p>
  </div>
</div>
